.pink-slip {
    color: black;
    position: fixed;
    bottom: .5rem;
    right: 2rem;
    width: 20rem;
    /* height: 10rem; */
    background-color: #ff69b4;
    border-style: solid;
    border-color: #232A33;
    border-width: .24rem;
    z-index: 1;

    border-radius: .1rem;
    /* display: grid;
    grid-template-columns: 50% 50% 100%; */
}
.pink-slip-header {
    /* font-family: OCR A Std, monospace;
    -webkit-text-stroke: 1px white;  */
    font-size: 150%;
    text-align: center;
    height: 3rem;
    display: grid;
    grid-template-columns: 45% 45% 10%;
    -webkit-text-stroke: 1px black; 

}
.pink-slip-header-1 {
    padding-top: .5rem;
    /* border-right: .0124rem solid black; */

}
.pink-slip-header-2 {
    padding-top: .5rem;

    border-left: .0124rem solid black;
    border-bottom: .0124rem solid black;
    border-right: .0124rem solid black;

    /* border-style: solid;
    border-color: #232A33;
    border-width: .24rem; */
}
.pink-slip-header-3 {
    border-bottom: .0124rem solid black;
    /* padding-top: .5rem;

    border-left: .0124rem solid black;
    border-bottom: .0124rem solid black; */
    
    /* border-style: solid;
    border-color: #232A33;
    border-width: .24rem; */
}
.pink-slip-body {
    display: grid;
    grid-template-columns: 100%;
}

.pink-slip-body-content-1 {
    height: 4rem;

    margin: 2rem;
    display: grid;
    grid-template-columns: 50% 50% 100%;

    text-align: center;
}
.pink-slip-body-content-2 {
    height: 4rem;

    margin: 2rem;
    text-align: center;
    display: none;
}
.pink-slip-body-content-text-1 {
    text-align: center;
    color: blue;
    margin: 0rem 0rem 0rem 0rem; 

    
}
.pink-slip-body-content-text-1:hover {
    color: white;
}

.pink-slip-body-content-text-2 {
    
}