.pink-slip {
    color: black;
    position: fixed;
    bottom: .5rem;
    right: 1rem;
    width: 22rem;
    /* height: 10rem; */
    background-color: #ff69b4;
    border-style: solid;
    border-color: #232A33;
    border-width: .24rem;
    z-index: 5;

    border-radius: .1rem;
    /* display: grid;
    grid-template-columns: 50% 50% 100%; */
}
.pink-slip-header {
    /* font-family: OCR A Std, monospace;
    -webkit-text-stroke: 1px white;  */
    font-size: 150%;
    text-align: center;
    height: 3rem;
    display: grid;
    grid-template-columns: 45% 45% 10%;
    -webkit-text-stroke: 1px black; 
}
.pink-slip-header-1 {
    padding-top: .5rem;
    /* border-right: .0124rem solid black; */

}
.pink-slip-header-2 {
    padding-top: .5rem;

    border-left: .0124rem solid black;
    border-bottom: .0124rem solid black;
    border-right: .0124rem solid black;

    /* border-style: solid;
    border-color: #232A33;
    border-width: .24rem; */
}
.pink-slip-header-3 {
    border-bottom: .0124rem solid black;
    
    /* padding-top: .5rem;

    border-left: .0124rem solid black;
    border-bottom: .0124rem solid black; */
    
    /* border-style: solid;
    border-color: #232A33;
    border-width: .24rem; */
}
.pink-slip-body {
    display: grid;
    grid-template-columns: 100%;
}

.pink-slip-body-content-1 {
    /* height: 4rem; */

    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% 12% 12% 12% 12% 12% 12% 12%;

    text-align: center;
}
.pink-slip-body-content-2 {
    /* height: 4rem; */


    margin-top: 2.5rem;
    margin-bottom: 2.5rem;    
    text-align: center;
    display: none;
}
.pink-slip-body-content-text-1 {

    text-align: center;
    color: blue;
    margin: 0rem 0rem 0rem 0rem; 
    margin-bottom: 1rem;

}
.pink-slip-body-content-text-1:hover {
    color: white;
}

.pink-slip-row {
    color: black;
    font-size: 120%;
    height: 2rem;
    text-align: left;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: .5rem .25rem .5rem .25rem;
}

.pink-slip-row-button {
    color: black;
    font-size: 120%;
    height: 2rem;
    text-align: left;
    display: grid;
    grid-template-columns: 100%;
    margin: 1rem .25rem 0rem .25rem;
    border-color: black;
}
input, select, textarea, button{
    background-color: #ff69b4;
    border-style: solid;
    border-color: #232A33;
    border-width: .1rem;
    border-radius: .1rem;
}

input:hover, select:hover, textarea:hover{
    border-style: solid;
    border-color: white;
    border-width: .1rem;
    border-radius: .1rem;
}
button:hover{
    border-style: solid;
    color: white;
    border-color: white;
    border-width: .1rem;
    border-radius: .1rem;
}

#con-2 {
    height: 20.95rem;
    overflow-y: scroll;
}

#con-2 {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#con-2::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


#openBets {
    /* border: .0124rem solid black; */

}

.openBetRow {
    border: .0248rem solid black;
    display: grid;
    grid-template-rows: 100/6% 100/6% 100/6% 100/6% 100/6% 100/6%;
    text-align: left;
    margin: 1rem;
}

.openBetRow:first-of-type {
    margin-top: 2rem;
}

.openBetRow2 {
    margin: .2rem;
    /* height: 3rem; */
    border-top: .0124rem dashed black;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.openBetRow2:first-child {
    /* height: 3rem; */
    border-top: 0rem dashed black;
}
.orderId {
    text-align: left;
    border: .0124rem solid black;
}

.placeholder {
    width: 2.5rem;
}

#cancel {
    text-align: center;
    display: flex;
    color: blue;
    width: 5.5rem;
}

#cancel:hover {
    color: white;
}

.pink-slip-body-content-text-2 {
    margin-bottom: 1rem;
    /* height: 1rem; */
}

#betStatus {
    /* height: 1rem; */
}

#noBets {
    margin-top: 2rem;
}