<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PinkSlipBets</title>
        <link rel="shortcut icon" href="../img/favicon-32x32.png" type="image/x-icon">
        <link rel="icon" href="../img/favicon-32x32.png" type="image/x-icon">
        <script type="text/javascript" src='../lib/jquery.min.js'></script>
        <script type="text/javascript" src='../lib/modal.js'></script>
        <script type="text/javascript" src='../lib/web3.min.js'></script>
        <script type="text/javascript" src='../lib/moment.min.js'></script>
        <link rel="stylesheet" href='../lib/handsontable.full.min.css'></script>
        <script type="text/javascript" src='../lib/handsontable.full.min.js'></script>
        <script type="text/javascript" src='../js/contractInfo.js'></script>
        <script type="text/javascript" src='../js/utils.js'></script>
        <script type="text/javascript" src='../js/animals.js'></script>
        <script type="text/javascript" src='../js/wallet.js'></script>
        <script type="text/javascript" src='../js/games.js'></script>
        <script type="text/javascript" src='../js/pinkslip.js'></script>
        <script type="text/javascript" src='../js/index.js'></script>
        <link rel="stylesheet" href="../css/pinkslip.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href='../lib/modal.css'></script>

    </head>
    <body>
        <div id="contain"></div>
        <div id="placeholder"></div>
    </body>
</html>
